{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="flex items-center justify-center min-h-screen bg-gradient-to-r from-[#00121C] to-[#013954] px-4">
    <div class="md:flex justify-center space-x-3 mt-5 px-4 lg:px-8">
        {{ form_start(registrationForm, {'attr': {'class': 'space-y-6'}}) }}
            <h1 class="text-2xl font-semibold text-center text-white mb-4">Create an account</h1>

            <!-- Global form errors -->
            <div class="bg-rose-400">
                {{ form_errors(registrationForm) }}
            </div>
            <div>
                <label for="registrationForm_username" class="block text-slate-300 mb-2">Username</label>
                {{ form_widget(registrationForm.username, {
                    'attr': {
                        'class': 'w-full rounded-lg bg-[#2A3B47] text-white py-2 px-4 focus:ring-2 focus:ring-amber-400 focus:outline-none'
                    }
                }) }}
                <div class="bg-rose-400">
                    {{ form_errors(registrationForm.username) }}
                </div>
            </div>

            <div>
                <label for="registrationForm_firstName" class="block text-slate-300 mb-2">First Name</label>
                {{ form_widget(registrationForm.first_name, {
                    'attr': {
                        'class': 'w-full rounded-lg bg-[#2A3B47] text-white py-2 px-4 focus:ring-2 focus:ring-amber-400 focus:outline-none'
                    }
                }) }}
                <div class="bg-rose-400">
                    {{ form_errors(registrationForm.first_name) }}
                </div>
            </div>

            <div>
                <label for="registrationForm_email" class="block text-slate-300 mb-2">Email</label>
                {{ form_widget(registrationForm.email, {
                    'attr': {
                        'class': 'w-full rounded-lg bg-[#2A3B47] text-white py-2 px-4 focus:ring-2 focus:ring-amber-400 focus:outline-none'
                    }
                }) }}

                <div class="bg-rose-400">
                    {{ form_errors(registrationForm.email) }}
                </div>
            </div>

            <div>
                <label for="registrationForm_plainPassword_first" class="block text-slate-300 mb-2">Password</label>
                {{ form_widget(registrationForm.plainPassword.first, {
                    'attr': {
                        'class': 'w-full rounded-lg bg-[#2A3B47] text-white py-2 px-4 focus:ring-2 focus:ring-amber-400 focus:outline-none'
                    }
                }) }}
                <div class="bg-rose-400">
                    {{ form_errors(registrationForm.plainPassword.first) }}
                </div>
            </div>

            <div>
                <label for="registrationForm_plainPassword_second" class="block text-slate-300 mb-2">Confirm Password</label>
                {{ form_widget(registrationForm.plainPassword.second, {
                    'attr': {
                        'class': 'w-full rounded-lg bg-[#2A3B47] text-white py-2 px-4 focus:ring-2 focus:ring-amber-400 focus:outline-none'
                    }
                }) }}
                <div class="bg-rose-400">
                    {{ form_errors(registrationForm.plainPassword.second) }}
                </div>
            </div>

            <div class="flex items-center space-x-3">
                {{ form_widget(registrationForm.agreeTerms, {
                    'attr': {
                        'class': 'rounded bg-[#2A3B47] text-white focus:ring-amber-400 focus:ring-offset-amber-400'
                    }
                }) }}
                <label for="registrationForm_agreeTerms" class="text-slate-300 text-sm">I agree to the terms and conditions</label>
                 <div class="bg-rose-400">
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>
            </div>

            <div class="flex justify-end">
                <button type="submit" class="bg-amber-400 hover:bg-amber-500 text-white font-semibold py-2 px-6 rounded-lg transition duration-200">
                    Register
                </button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
