{% extends 'base.html.twig' %}

{% block title %}Motorcycle: Beam up some parts!{% endblock %}

{% block body %}
<main class="flex flex-col lg:flex-row">
    <div class="px-12 pt-10 w-full">
        <div class="flex justify-between items-center mb-8">
            <h1 class="text-4xl font-semibold text-white">
                Mototrcycle List
            </h1>            
            <a 
                href="{{ path('motorcycle_create') }}" 
                class="inline-block bg-amber-400 text-white font-semibold py-2 px-4 rounded-lg hover:bg-amber-500 focus:outline-none focus:ring-2 focus:ring-amber-400 focus:ring-opacity-50"
            >
                Add New Motorcycle
            </a>
        </div>
        <div class="space-y-5">
            {% for motorcycle in motorcycles %}
                <div class="bg-[#16202A] rounded-2xl pl-5 py-5 pr-11 flex flex-col min-[1174px]:flex-row min-[1174px]:justify-between">
                    <div class="flex justify-center min-[1174px]:justify-start">
                        <div class="ml-5">
                            <h4 class="text-[22px] pt-1 font-semibold">
                                <a
                                    class="hover:text-slate-200"
                                    href="{{ path('motorcycle_details', { id: motorcycle.id }) }}"
                                >
                                    {{ motorcycle.brand }} - {{ motorcycle.model }}
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="flex justify-center min-[1174px]:justify-start mt-2 min-[1174px]:mt-0 shrink-0">
                        <div class="border-r border-white/20 pr-8">
                            <p class="text-slate-400 text-xs">Engine Capacity</p>
                            <p class="text-xl">{{ motorcycle.engineCapacity }} L</p>
                        </div>

                        <div class="pl-8 w-[100px]">
                            <p class="text-slate-400 text-xs">Colour</p>
                            <p class="text-xl">{{ motorcycle.colour }}</p>
                        </div>

                        <div class="pl-8 w-[200px]">
                            <p class="text-slate-400 text-xs">Price</p>
                            <p class="text-xl">${{ motorcycle.price }}</p>
                        </div>

                        <div class="pl-8 w-[100px]">
                            <p class="text-slate-400 text-xs">Quantity</p>
                            <p class="text-xl">{{ motorcycle.quantity }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
